/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* everything excluding one component with this class */
*:not(.marquee) {
  max-width: 1440px;
}

/* .marquee {
  
} */

/* body:not(.marquee) {
  max-width: 1440px;
} */

/* layout-ui or header - container for all sub-components: logo, menu, button */
.layout-ui {
  margin-left: 60px;
  margin-right: 60px;
  border: 2px solid lawngreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-content: space-between; */
  padding-bottom: 45px;
}

/* -- all layout-ui or header child-components with associated elements' styles: -- */
/* logo styles */
.logo {
  margin-top: 10px;
  margin-left: 25px;
  border: 2px solid #FF5885;
  /* flex-basis: 50vw; */
  /* flex-basis: 10vw; */
  height: 40px;
  order: 1
}


.abc {
  width: 75.7px;
  height: 37.8px;
  margin-left: 15px;
  object-fit: contain;
  background: none
}

/* menu styles */
.menu {
  margin-top: 5px;
  border: 2px solid #FF5885;
  margin-left: 25px;
  /* flex-basis: 9vw; */
  flex-basis: 100vw;
  order: 3;
  padding-bottom: 5px;
}

ul {
  /* background-color: yellow; */
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center */
}

li {
  display: flex;
  justify-content: flex-start

}

li a {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
}

li a:hover {
  color: orange;
}

/* contact button styes */
.button_contact_container {
  background: none;
  margin-top: 20px;
  margin-right: 15px;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  order: 2;
  /* flex-basis: 25vw; */
  /* flex-basis: 75vw; */
}

button {
  padding: 12px 35px 12px 35px;
  font-weight: bold;
  background: none;
  border: 1px solid white;
  color: white
}

/* --- */
/* -- end of layout-ui or header styles -- */
/* --- */

/* page-ui container styles */
.page-ui {
  margin-top: 65px;
  margin-left: 60px;
  margin-right: 60px;
  border: 2px solid lawngreen;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* -- page-ui child-components with associated elements' styles: -- */
.headline {
  border: 2px solid #FF5885;
  color: white;
  flex-basis: 50%;
  margin-top: 25px;
  margin-left: 15px;
  padding-left: 15px;
  font-family: HelveticaNeue;
  font-size: 5.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
  display: flex;
}

.subhead {
  border: 2px solid #FF5885;
  padding: 25px;
  color: white;
  flex-basis: 30%;
  margin-top: 35px;
  margin-right: 60px;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  display: flex;
}

.cta {
  border: 2px solid #FF5885;
  background-color: white;
  color: black;
  font-family: HelveticaNeue;
  font-size: 1.5rem;
  font-weight: bold;
  flex-basis: 73.75rem;
  margin-top: 135px;
  margin-left: 25px;
  margin-right: 15px;
  padding: 4.625rem 8.5rem 4.563rem 4.813rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 20%;
  height: 1.25rem;
  font-family: HelveticaNeue;
  font-size: 0.688rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: 1px;
  display: flex;
}

.arrow {
  width: 1.755rem;
  height: 1.175rem;
  margin-left: 20px;
}


